<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dhbin.minion.upms.mapper.SysPermMapper">
    <resultMap id="BaseResultMap" type="cn.dhbin.minion.upms.entity.SysPerm">
        <!--@mbg.generated-->
        <!--@Table sys_perm-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="own" jdbcType="VARCHAR" property="own"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="authorizations" jdbcType="VARCHAR" property="authorizations"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, own, `name`, description, `path`, `method`, authorizations
    </sql>
</mapper>