<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dhbin.minion.upms.mapper.SysRoleMenuMapper">
    <resultMap id="BaseResultMap" type="cn.dhbin.minion.upms.entity.SysRoleMenu">
        <!--@mbg.generated-->
        <!--@Table sys_role_menu-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="rid" jdbcType="BIGINT" property="rid"/>
        <result column="mid" jdbcType="BIGINT" property="mid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_uid" jdbcType="BIGINT" property="createUid"/>
        <result column="update_uid" jdbcType="BIGINT" property="updateUid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, rid, mid, create_time, update_time, create_uid, update_uid
    </sql>
</mapper>