export const tableOption = {
    border: true,
    index: true,
    indexLabel: '序号',
    stripe: true,
    menuAlign: 'center',
    align: 'center',
    column: [
        #foreach($field in $table.fields)
            {
                label: '${field.comment}',
                prop: '${field.propertyName}',
                rules: [{
                    required: true,
                    message: '请输入 ${field.comment}',
                    trigger: 'blur'
                }]
            },
        #end
    ]
}
